h1
{
    padding:25px;
    
 
    
   
}

body{
    background-color: whitesmoke;
    
}
#subtitulo{
    font-size: 25px;
}
#links{
    font-size: 17px;
}
#cabecalho{
    text-align: center;
    font-size: black;
}
#html{
    font-size: 20px;

}
